<MudCollapse Expanded="true" OnAnimationEnd="OnAnimationEnd">
    <div id="inner">content</div>
</MudCollapse>

<div id="animation_end_count">@_animationEndCount</div>

@code {
    private int _animationEndCount;

    private void OnAnimationEnd()
    {
        _animationEndCount++;
    }
}
