<MudDropContainer T="string" Items="_items" ItemsSelector="@((item, zone) => true)">
    <ChildContent>
        <MudDropZone T="string" Identifier="Zone" OnlyZone="true">
            <MudDynamicDropItem T="string" id="custom-item" Item="@("Item A")" Index="0" ZoneIdentifier="Zone">
                <div class="dyn-item">Item A</div>
            </MudDynamicDropItem>
        </MudDropZone>
    </ChildContent>
</MudDropContainer>

@code {
    private readonly IEnumerable<string> _items = ["Item A"];
}
