<MudMenu Disabled="true">
    <ActivatorContent>
        @* The context provides menu operations but is not used here since it's a disabled menu test *@
        <span>any activator</span>
    </ActivatorContent>
</MudMenu>