@inject IDialogService DialogService


<div style="display: flex; flex-direction: row">
    <MudTextField Margin="Margin.None" T="string" Variant="Variant.Text" />
    <MudTextField Margin="Margin.None" T="string" Variant="Variant.Outlined" AutoGrow="true" />
</div>
<div style="display: flex; flex-direction: row">
    <MudTextField Margin="Margin.Dense" T="string" Variant="Variant.Text" />
    <MudTextField Margin="Margin.Dense" T="string" Variant="Variant.Filled" AutoGrow="true" />
</div>


<MudButton @onclick="OpenDialogAsync" Variant="Variant.Filled" Color="Color.Primary">
    Open simple dialog
</MudButton>

<MudTextField T="string" Variant="Variant.Outlined" Label="Minimal Disabled Auto-Grow" Disabled="true" Class="mt-3" AutoGrow="true" />

<MudTextField T="string" Variant="Variant.Outlined" Label="Normal Auto-Grow" Disabled="false" Class="mt-3" AutoGrow="true" />


@code {

    private Task OpenDialogAsync()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };

        return DialogService.ShowAsync<DialogUsageExample_TextDialog>("Simple Dialog", options);
    }
}
