<MudFileUpload T="IReadOnlyList<IBrowserFile>" MaximumFileCount="100" MaxFileSize="@MaxFileSize" @bind-Files="Files">
    <SelectedTemplate>
        <div>
            Select Template
        </div>
    </SelectedTemplate>
</MudFileUpload>

@code {
    public static string __description__ = "Tests binding multiple uploaded files with max file count and optional size limit.";

    public IReadOnlyList<IBrowserFile>? Files { get; private set; }

    [Parameter]
    public long? MaxFileSize { get; set; }
}
